#header{
	overflow:auto;
	clear:both;
	position:fixed;
}
div ul{
	float:right;
	position: relative;
	list-style-type: none;
	z-index: 1;
	display: inline;
}
div ul li{
	float: left;
}
img{
	margin:200px 500px;
}